.navbarStyle {
  @apply
    /* Sizing */
    w-full
    /* Layout */
    absolute
    top-0
    z-20
    /* Spacing */
    py-6 sm:py-8 lg:py-10;
}

.navStyle {
  @apply
    /* Sizing*/
    w-full;
}

.listStyle {
  @apply
    /* Layout */
    [&>li]:hidden md:[&>li]:block
    first:[&>li]:block
    /* Flexbox & Grid */
    flex
    justify-end
    items-center
    first:[&>li]:justify-self-start
    first:[&>li]:grow
    /* Spacing */
    pr-2 md:pr-0
    gap-x-8 lg:gap-x-10
    /* Typography */
    font-archivo-medium
    text-white
    text-sm lg:text-base
    /* Shadow */
    drop-shadow-3xl;
}

.logoStyle {
  @apply
    /* Sizing */
    w-16 md:w-18 lg:w-20
    /* Shadow */
    drop-shadow-2xl;
}

.buttonBurgerStyle {
  @apply
    /* Sizing */
    w-6
    h-5
    /* Layout */
    relative md:hidden;
}

.buttonBurgerSticksStyle {
  @apply
    /* Sizing */
    before:w-7
    before:h-0.75
    w-7
    h-0.75
    after:w-7
    after:h-0.75
    /* Spacing */
    m-auto
    /* Background */
    before:bg-white
    bg-white
    after:bg-white
    /* Layout */
    before:absolute
    before:-top-2.5
    before:right-0
    before:bottom-0
    absolute
    top-0
    right-0
    bottom-0
    after:absolute
    after:top-2.5
    after:right-0
    after:bottom-0;
}

.contextMenuStyle {
  @apply
    /* Sizing */
    w-48
    /* Spacing */
    py-4
    /* Layout */
    absolute
    right-5 sm:right-10
    top-20 sm:top-24
    hidden
    overflow-hidden
    /* Background */
    bg-white
    /* Border */
    rounded-md
    /* Shadow */
    shadow-xl;
}

.contextMenuListStyle {
  @apply
    /* Typography */
    text-sm
    md:text-base
    lg:text-lg
    text-center
    text-rehsok-gray;
}

.contextMenuItemStyle {
  @apply
    /* Spacing */
    py-2;
}
